################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/bin
/src/WPFAudioPlayer/.vs
/src/WPFAudioPlayer/WPFAudioPlayer/bin
/src/WPFAudioPlayer/WPFAudioPlayer/obj
